html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}
body {
	font-family: "proxima-nova", sans-serif;
	color: #fff;
	text-rendering: optimizeLegibility;
}
p {
	font-size: 1.2em;
}
h1 {
	font-weight: 700;
	font-size: 4.5em;
	color: #fff;
}
h2 {
	color: #fff;
	font-size: 2.5em;
}
h3 {
	font-weight: 700;
	font-size: 1.8em;
}
/* nav */

header {
	width: 100%;
	padding: 40px;
	top: 0px;
	left: 0px;
	margin: auto;
	box-sizing: border-box;
	z-index: 1;
}
nav {
	font-weight: 300;
	font-size: 1.3em;
	float: right;
	top: 65px;
	right: 50px;
	position: absolute;
}
.navitem {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}
nav li {
	list-style-type: none;
	display: inline;
	margin: 40px;
}
div .circle {
	width: 70px;
	height: 70px;
	background: #fff;
	border-radius: 90px;
	overflow: hidden;
}
/* arrow nav */

div #nav-right {
	position: absolute;
	right: 2%;
	top: 50%;
	width: 55px;
	height: 55px;
	z-index: 10;
	cursor: pointer;
	background: url('../img/nav-arrow-right.svg') no-repeat;
	transition: ease 0.1s;
}
div #nav-right:hover {
	background: url('../img/nav-arrow-right-hover.svg') no-repeat;
}
div #nav-left {
	position: absolute;
	left: 2%;
	top: 50%;
	width: 55px;
	height: 55px;
	z-index: 10;
	cursor: pointer;
	background: url('../img/nav-arrow-left.svg') no-repeat;
	transition: ease 0.1s;
}
div #nav-left:hover {
	background: url('../img/nav-arrow-left-hover.svg') no-repeat;
}
/* body content */

.container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	left: 0px;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	border: solid 20px #fff;
	bottom: 5px;
}
.panel,
.panel0,
.panel1,
.panel2,
.panel3,
.panel4,
.panel5 {
	-webkit-transition: all ease 0.3s;
	transition: all ease 0.4s;
}
.panel0 {
	background: #e74c3c;
}
.panel1 {
	background: #EA9225;
}
.panel1 .button:hover {
	color: #EA9225;
}
.panel2 {
	background: #3498db;
}
.panel2 .button:hover {
	color: #3498db;
}
.panel3 {
	background: #333;
}
.panel3 .button:hover {
	color: #333;
}
.panel4 {
	background: #333;
}
.panel4 .button:hover {
	color: #333;
}
.panel5 {
	background: #333;
}
.panel5 .button:hover {
	color: #333;
}
.content {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	margin: auto;
}
.cell {
	overflow: hidden;
	width: 20%;
	display: inline-block;
	margin: 0;
}
div #panels {
	padding-bottom: 0em;
	padding-top: 50px;
	height: 90%;
	width: 100%;
	position: absolute;
	box-sizing: border-box;
}
div .panelContent {
	margin: 0 10%;
}
div .right-half {
	margin-left: 51%;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
}
.right-half img {
	top: 0;
	height: 80%;
}
div .buttons {
	margin-top: 20%;
	bottom: 0;
}
div .demo {
	border: solid 3px #fff;
	border-radius: 3px;
	padding: 10px 40px;
	color: #fff;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color ease-in 0.1s;
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;
}
div .details {
	border: solid 3px #fff;
	border-radius: 3px;
	padding: 10px 20px;
	color: #fff;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color ease-in 0.1s;
	margin-left: 10px;
	display: inline-block;
	cursor: pointer;
}
div.demo:hover {
	background-color: #fff;
}
div .details:hover {
	background-color: #fff;
}
nav a:hover {
	border-bottom: solid 4px #fff;
	padding-bottom: 6px;
	transition: ease 0.1s;
}
nav li a.current {
	border-bottom: solid 4px #fff;
	padding-bottom: 6px;
	transition: ease 0.3s;
}
/* Nav dots*/

.dots ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
}
.dots li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.dots li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em;
	cursor: pointer;
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease;
}
div .dots {
	position: absolute;
	bottom: 3%;
	z-index: 10;
	width: 100%;
	margin: auto;
	text-align: center;
}
.dots li a:hover,
.dots li a:focus {
	background-color: white;
}
.dots li.current a {
	background-color: white;
	-webkit-transform: scale(1.5);
	transform: scale(1.3);
}
#close {
	border: 3px solid #333;
	color: #333;
}
/*
#mobile {
	max-width: 383px;
	max-height: 800px;
}
*/